{% extends 'base.html.twig' %}

{% block title %}Modifier Expédition{% endblock %}

{% block body %}
<h2 class="mb-4">Modifier l'Expédition</h2>

{{ form_start(form) }}
    <div class="card p-4 shadow-sm">
        {{ form_widget(form) }}

        <button class="btn btn-warning mt-3">
            <i class="bi bi-pencil-square"></i> Modifier
        </button>
        <a href="{{ path('app_expedition_index') }}" class="btn btn-secondary mt-3">Retour</a>
    </div>
{{ form_end(form) }}

{% endblock %}
